@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORCE FULL HEIGHT FOR MAP */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents double scrollbars */
}